<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<a href="index.html">home</a>
<link rel="shortcut icon" type="x-icon" href="/open-uri20210108-68-lujeec">
<title>home</title>
<a href="https://rvlt.gg/KHyteft6" target="_blank">revot srver</a>
<a href="https://github.com/mileswolfallen2/funforyou-wedsite/discussions/1" target="_blank">funforyou-wedsite/discussions</a>
<a href="https://forms.gle/e9UKP8PkKo2633KHA">bev sin ups</a>
<a href="/isk.html">how to join the dev team</a>
<a href="howto.html">how to </a>
<link rel="stylesheet" href="fun.css">
<p>if you want to send me stuff fill this out</p>
<form name="contact" netlify>
    <p>
      <label>Name <input type="text" name="name" /></label>
    </p>
    <p>
      <label>email <input type="email" name="email" /></label>
    </p>
  
    <p>
      <button type="submit">Send</button>
    </p>
  </form>
  <p>or contact me at mileswolfallen4@yahoo.com</p>
  <div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://https-fun-miles1-netlify-app.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
 </head>
 <body><script id="dsq-count-scr" src="//https-fun-miles1-netlify-app.disqus.com/count.js" async></script></body>